<!-- Instagram -->
    <div class="grid">
    
        <div class="grid__item one-whole">
            <div class="text-center">
                <h2 class="text-uppercase strong h1">FOLLOW US ON INSTAGRAM</h2>
            </div>
        </div>
        <div class="grid__item one-whole">
            <div class="instagram-container-container" style="max-width:1200px; margin-left: auto; margin-right: auto;">
                <!--<div id="instagram" class="grid"></div>-->
              <div style="margin-bottom: 70px;" id="insta-feed">
              </div>
            </div>
        </div>
    </div>