<!-- Spot Prices -->
<div class="spot-prices-bar">
    <div class="grid">
            <div class="grid__item medium--one-quarter large--one-quarter">
                <p class="metal">
                    Gold
                </p>
                <p class="metal-price">
                    $1,304.35
                </p>
                <p class="metal-change green">
                    +7.64
                </p>
            </div>
            <div class="grid__item medium--one-quarter large--one-quarter">
                <p class="metal">
                    Silver
                </p>
                <p class="metal-price">
                    $15.43
                </p>
                <p class="metal-change green">
                    +0.19
                </p>
            </div>
            <div class="grid__item medium--one-quarter large--one-quarter">
                <p class="metal">
                    Platinum
                </p>
                <p class="metal-price">
                    $839.04
                </p>
                <p class="metal-change green">
                    +10.54
                </p>
            </div>
            <div class="grid__item medium--one-quarter large--one-quarter">
                <p class="metal">
                    Palladium
                </p>
                <p class="metal-price">
                    $1,569.80
                </p>
                <p class="metal-change green">
                    +6.30
                </p>
            </div>
    </div>
</div>
