<!-- sections/featured-products-carousel.liquid -->
<div class="featured-products-carousel-wrapper">

    {% if section.settings.title != blank %}
    <h2 class="section-header__title text-uppercase" style="width: 100%; text-align: center;">{{ section.settings.title | escape }}</h2>
    {% endif %}

    <div class="featured-arrows-container">
        <i class="fas fa-chevron-left prev"></i>
        <i class="fas fa-chevron-right next"></i>
    </div>

    {% comment %}
      Use class grid-uniform to have evenly sized columns clear
      each other properly at each breakpoint.
    {% endcomment %}
    {% if section.settings.home_featured_products != blank or collections[section.settings.home_featured_products] != empty or collections[section.settings.home_featured_products].products_count != 0 %}
    <div class="container featured-carousel">

      {% comment %}
        Loop through products in your Frontpage collection.
        This collection is created by default, but you must add products to it.
      {% endcomment %}

      <!-- in stock products -->
      {% for product in collections[section.settings.home_featured_products].products limit:8 %}

          {% comment %}
          Change the grid item width by using classes from the grid in
          the grid_item_width variable.

          Example:
              - {% assign grid_item_width = 'large--one-third medium--one-half' %}
          {% endcomment %}
          {% assign grid_item_width = 'one-whole' %}
          {% if product.available == true %}
          {% include 'product-grid-item-carousel' %}
          {% endif %}

      {% else %}
        {% comment %}
          For onboarding new users to your theme, we add some default products and onboarding tutorials to help populate their store
        {% endcomment %}
        {% unless emptyState %}
          {{ 'theme-onboarding.css' | global_asset_url | stylesheet_tag }}
          {% assign emptyState = true %}
        {% endunless %}

      {% endfor %}

    </div>

    {% endif %}
</div>



{% schema %}
{
  "name": "Featured Carousel",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Featured Collection"
    },
    {
      "type": "collection",
      "id": "home_featured_products",
      "label": "Collection"
    },
    {
      "type": "checkbox",
      "id": "use_custom_url",
      "label": "Checkbox for a custom URL"
    },
    {
      "type": "url",
      "id": "button_url",
      "label": "Button URL if not going selected collection"
    },
    {
      "type": "text",
      "id": "button-content",
      "label": "Button text",
      "default": "See All Products"
    }
  ],
  "presets": [{
    "name": "Featured Collection Carousel",
    "category": "Collection"
  }],
  "blocks" : []
}
{% endschema %}
