
<div class="grid__item one-whole">
    <div class="text-center">
        <h2 class="text-uppercase section-header__title" style="margin-bottom: 20px;">FOLLOW US ON INSTAGRAM</h2>
    </div>
</div>

<script src="//foursixty.com/media/scripts/fs.embed.v2.5.js" data-feed-id="www-curvesncomatboots-com_1" data-theme="showcase_v2_5" data-page-size="12"></script><style>.fs-has-links {
    display: none;
}

.fs-desktop .fs-entry-container {
    width: 16.666666666666668% !important;
    padding-top: 16.666666666666668% !important;
}

.fs-mobile .fs-entry-container {
    width: 50% !important;
    padding-top: 50% !important;
}

.fs-wrapper div.fs-text-container .fs-entry-title,
div.fs-detail-title {
    font-family: Times New Roman, serif;
    font-style: italic;
    font-weight: normal;
}

div.fs-text-container .fs-entry-date,
div.fs-detail-container .fs-post-info,
div.fs-wrapper div.fs-has-links::after,
.fs-text-product,
.fs-overlink-text {
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-style: normal;
    font-weight: bold;
}

.fs-wrapper div.fs-text-container * {
    color: #fff
}

.fs-wrapper div.fs-text-container {
    background-color: rgba(0, 0, 0, 0.8);
    margin: 0px
}

div.fs-entry-date {
    display: none
}

div.fs-entry-title {
    display: none
}

.fs-wrapper div.fs-timeline-entry {
    margin: 0px
}

</style>
{% schema %}
    {
        "name": "Instagram Feed for FS",
        "settings": [

        ],
        "presets": [
            {
                "name": "Instagram Feed for FS",
                "category": "Custom Stuff"
            }
        ]
    }
{% endschema %}