<div class="yotpo yotpo-reviews-carousel" 
 data-background-color="transparent" 
 data-mode="top_rated" 
 data-type="both" 
 data-count="9" 
 data-show-bottomline="1" 
 data-autoplay-enabled="1" 
 data-autoplay-speed="3000" 
 data-show-navigation="1"
 style="width: 100%; overflow: hidden;">&nbsp;</div>
{% schema %}
    {
        "name": "YOTPO Review Carousel",
        "settings": [

        ],
        "presets": [
            {
                "name": "YOTPO Review Carousel",
                "category": "Custom Stuff"
            }
        ]
    }
{% endschema %}