<a name="wholesaleForm" class="wholesaleForm"></a>

<div class="wholesale-form">
    <div class="wrapper">
        <div class="form-container">
            <h2>Enter Your Information Below</h2>

            <form>
                <input type="text" placeholder="Full Name" />
                <input type="email" placeholder="Email Address" />
                <input type="text" placeholder="Company Name" />
                <input type="tel" placeholder="Phone Number" />

                <a href="#" class="button" id="submit">APPLY</a>
            </form>
        </div>
    </div>
</div>
