<!-- templates/page.events.liquid -->
<div class="events-container">
    {% section 'events-hero' %}
    {% section 'event-packages' %}
</div>

<div class="form-container" id="book-now">
    <div class="text-center">
        <h2>EVENT BOOKING</h2>
        <p>
            Contact us regarding which events you would like to book!
        </p>
    </div>
    <div class="powr-form-builder" id="2ea005d9_1602712506"></div><script src="https://www.powr.io/powr.js?platform=shopify"></script>
</div>